@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
}

.bg-abu {
    background-color: #f5f5f5;
}

.bg-nav-utama {
    background-color: #c8d4de;
}

.bg-header {
    background-color: #93b5d7;
}

.bg-card {
    background-color: #f2f2f2;
}

.bg-alert-info {
    background-color: #d3e9f4 !important;
}

body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}



/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 70px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    max-width: 240px;
    width: 240px;
    z-index: 600;
    font-weight: 600;
    background-color: #bccad7;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
}

.sidebar a {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}

.sidebar a:hover {
    background-color: rgba(188, 202, 215, 0.6);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.role {
    background-color: #c5e2fd;
    border-radius: 10px;
    padding: 5px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}

.notif {
    border-radius: 10px;
    border: #efd6a3 solid 3px;
    background-color: #f7e6b4;
}

.notif span {
    font-size: 15px;
}

.profile {
    border-radius: 50%;
}

.font-weight-bold {
    font-weight: bold;
}

.judul-data {
    font-size: 28px;
    font-weight: bold;
}

.empty-box {
    width: 488px;
    height: 205px;
    background-color: #f6f6f6;
    border-color: #d9d9d9;
}

.breadcrumbs {
    font-size: 20px;
    color: #696969;
}

.alert-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.mr-0 {
    margin-right: 0rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.nav-item-150 {
    width: 150px;
}


.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    padding: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block !important;
    
    margin-top: -37px;
}

.dropdown-item {
    font-size: small; /* 13px */
}
.dropdown-toggle::after {
    font-size: var(--font-md);
    margin-bottom: -2px;
}
.dropdown-menu li a.active {
    color: #fff;
}

.custom-toggle-arrow {
    font-size: 18px;
    margin-top: 1px;
    line-height: 12px;
}

.sub-menu{
    position: relative;
    display: block;
    margin-bottom: -4px;
    padding-left: 36px;
    font-weight: 400;
    font-size: 16px;
}

.list-group-item{
    padding-left: 10px;
    padding-right: 10px;
}

#sidebarMenu.active {
    min-width: 70px;
    max-width: 70px;
}

#sidebarMenu.active span {
    display: none;
}

#sidebarMenu.active .bi-chevron-down{
    display: none;
}

main {
    padding-left: 240px;
}

main.active {
    padding-left: 70px;
}